// -*- MPC -*-

// @feature tao
//
// Enable this feature if you want to build projects that require
// TAO middleware. This also means that you much have TAO middleware
// installed on your platform.

tao = 0

// @feature tena
//
// Enable this feature if you want to build projects that require
// TENA middleware. This also means that you much have the TENA
// middleware installed on your platform.

tena = 0
